# Ignore backups
*~

# Ignore select directories
__pycache__/
.ipynb_checkpoints/

# Ignore select files
gencopy.py
pynrand/_version.py
_todo.rst

# Ignore .pyc files
*.pyc

# Ignore #*# files
\#*#
*.bak

# Ignore pip install build files.
build/
*.egg-info/
*/_version.py

# Ignore SLURM output files.
slurm-*.out